<a href="https://colab.research.google.com/github/vjbarayuga/Week9-Unsupervised_ML_Clustering/blob/main/SQLCoreExercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# imports
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
# mount data
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# load table 1
school = pd.read_csv('/content/drive/My Drive/DS 12wk PT Curriculum/03: UML & Advanced Topics/3. SQL/data/School Details.csv')
school.head(2)

  DistrictName EstablishmentCode  ... HighestClass BoardName
0         East             S0169  ...      Class 5       NaN
1         East             S0099  ...     Class 12  C.B.S.E.

[2 rows x 30 columns]

In [ ]:
# load table 2
facility = pd.read_csv('/content/drive/My Drive/DS 12wk PT Curriculum/03: UML & Advanced Topics/3. SQL/data/School Facility Details.csv')
facility.head(2)

  EstablishmentCode  ... IsSportsStoreRoomAvailable
0             S1034  ...              Not Available
1             S0516  ...              Not Available

[2 rows x 11 columns]

In [ ]:
# create sqlite engine
engine = create_engine('sqlite:///school.db', echo=True)
# create connection to engine
conn = engine.connect()

2021-01-27 22:13:35,698 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-01-27 22:13:35,699 INFO sqlalchemy.engine.base.Engine ()
2021-01-27 22:13:35,707 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-01-27 22:13:35,708 INFO sqlalchemy.engine.base.Engine ()

In [ ]:
# add the dataframe as a table in sqlite
sqlite_table = "school_details"
school.to_sql(sqlite_table, conn, if_exists='fail')

sqlite_table2 = "school_facility_details"
facility.to_sql(sqlite_table2, conn, if_exists='fail')

2021-01-27 22:14:03,078 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("school_details")
2021-01-27 22:14:03,079 INFO sqlalchemy.engine.base.Engine ()
2021-01-27 22:14:03,086 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("school_details")
2021-01-27 22:14:03,088 INFO sqlalchemy.engine.base.Engine ()
2021-01-27 22:14:03,098 INFO sqlalchemy.engine.base.Engine
CREATE TABLE school_details (
	"index" BIGINT,
	"DistrictName" TEXT,
	"EstablishmentCode" TEXT,
	"EstablishmentName" TEXT,
	"BRCName" TEXT,
	"CRCName" TEXT,
	"SchoolLevel" TEXT,
	"ManagementName" TEXT,
	"LocalityHabitation" TEXT,
	"SubdivisionName" TEXT,
	"ConstituencyName" TEXT,
	"RevenueBlockName" TEXT,
	"CivicBodyName" TEXT,
	"WardName" TEXT,
	"PostOfficeName" TEXT,
	"PhoneNo" TEXT,
	"FaxNo" TEXT,
	"EmailID" TEXT,
	"Website" TEXT,
	"LocatedInRuralOrUrban" TEXT,
	"DiseCode" TEXT,
	"EstablishedDate" TEXT,
	"DistrictHQDistance (in Km)" FLOAT,
	"CRCDistance (in Km)" FLOAT,
	"BACDistance (in Km)" FLOAT,
	"IsRecognized" TEXT,
	"RecognizedBy" TEXT,
	"ContactPersonName" FLOAT,
	"LowestClass" TEXT,
	"HighestClass" TEXT,
	"BoardName" TEXT
)


2021-01-27 22:14:03,099 INFO sqlalchemy.engine.base.Engine ()
2021-01-27 22:14:03,120 INFO sqlalchemy.engine.base.Engine COMMIT
2021-01-27 22:14:03,122 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_school_details_index ON school_details ("index")
2021-01-27 22:14:03,123 INFO sqlalchemy.engine.base.Engine ()
2021-01-27 22:14:03,142 INFO sqlalchemy.engine.base.Engine COMMIT
2021-01-27 22:14:03,151 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-01-27 22:14:03,189 INFO sqlalchemy.engine.base.Engine INSERT INTO school_details ("index", "DistrictName", "EstablishmentCode", "EstablishmentName", "BRCName", "CRCName", "SchoolLevel", "ManagementName", "LocalityHabitation", "SubdivisionName", "ConstituencyName", "RevenueBlockName", "CivicBodyName", "WardName", "PostOfficeName", "PhoneNo", "FaxNo", "EmailID", "Website", "LocatedInRuralOrUrban", "DiseCode", "EstablishedDate", "DistrictHQDistance (in Km)", "CRCDistance (in Km)", "BACDistance (in Km)", "IsRecognized", "RecognizedBy", "ContactPersonName", "LowestClass", "HighestClass", "BoardName") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-01-27 22:14:03,191 INFO sqlalchemy.engine.base.Engine ((0, 'East', 'S0169', 'BUDANG GOVERNMENT PRIMARY SCHOOL (E)', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'State Govt.', 'BUDANG', 'Gangtok', 'Rhenock', 'Central Pendam', 'Central Pendam', 'Sajong', 'Upper Pendam', None, None, None, None, 'Urban Area', None, '28126', 58.0, 8.0, 16.0, 'Recognized', 'HRDD', None, 'Class 1', 'Class 5', None), (1, 'East', 'S0099', 'CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'SSS', 'State Govt.', 'CENTRAL PENDAM', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Karmithang', 'Upper Pendam', '3592263812', None, None, None, 'Urban Area', '800401', '15342', 50.0, 0.0, 6.0, 'Recognized', 'HRDD', None, 'Class 1', 'Class 12', 'C.B.S.E.'), (2, 'East', 'S0848', 'CENTRAL POINT ACADEMY, CENTRAL PENDAM', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'SS', 'Private (Unaided)', 'UPPER BHURUNG CENTRAL PENDAM', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Burung', 'Upper Pendam', '03592263809/263960', None, 'ksu_5162@yahoo.com', 'www.facebook.com/khanalkeshav (Group-CPA)', 'Urban Area', None, '37257.38680555556', 49.0, 1.5, 6.0, 'Recognized', 'HRDD, GOVT. OF SIKKIM', None, 'Class 1', 'Class 10', 'C.B.S.E.'), (3, 'East', 'S0190', 'CHEURIBOTEY GOVERNMENT JUNIOR HIGH SCHOOL (E)', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'JHS', 'State Govt.', 'CHEURIBOTEY', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Cheuribotey', 'Duga', None, None, None, None, 'Urban Area', None, '28856', 60.0, 6.0, 6.0, 'Recognized', 'State Govt.', None, 'Class 1', 'Class 8', None), (4, 'East', 'S0111', 'DUGA GOVERNMENT SECONDARY SCHOOL', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'SS', 'State Govt.', 'DUGA', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Duga', 'Duga', '9832082915', None, 'dugaschool@gmail.com', None, 'Urban Area', None, '1828', 52.0, 0.0, 0.5, 'Recognized', 'c.b.s.e.', None, 'Class 1', 'Class 10', 'C.B.S.E.'), (5, 'East', 'S0856', 'EASWARAMMA SAI GURUKOOL ACCADEMY', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'Private (Unaided)', 'RALUNG', 'Gangtok', 'West Pandam', 'Central Pendam', 'West Pendam', 'Ralang', 'West Pendam', '9733056624', None, None, None, 'Urban Area', None, '40179.66805555556', 0.0, 0.2, 0.2, 'Recognized', None, None, 'Class 1', 'Class 5', None), (6, 'East', 'S0870', 'ETERNAL ENGLISH SCHOOL, WEST PENDAM', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'Private (Unaided)', 'SAKHU WEST PENDAM', 'Gangtok', 'West Pandam', 'West Pendam', 'West Pendam', 'Sakhu', 'Sakhu Busty', '9734190544', None, None, None, 'Urban Area', None, '37300.66805555556', 42.0, 3.0, 4.0, 'Recognized', 'HRDD OF SIKKIM', None, 'Class 1', 'Class 5', None), (7, 'East', 'S0157', 'KHANI GOAN GOVERNMENT PRIMARY SCHOOL', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'State Govt.', 'WEST PENDAM', 'Gangtok', 'West Pandam', 'West Pendam', 'West Pendam', 'Khanigaon', 'West Pendam', '9832470263', None, None, None, 'Urban Area', '801801', '29587', 45.0, 5.0, 4.0, 'Recognized', 'State Govt.', None, 'Class 1', 'Class 5', 'C.B.S.E.')  ... displaying 10 of 1249 total bound parameter sets ...  (1247, 'West', 'S0340', 'TINGTING GAON GOVERNMENT PRIMARY SCHOOL', 'Yuksom Brc', 'Yuksom Government Secondary School', 'PS', 'State Govt.', 'TING TING GAON', 'Gyalshing', 'Yoksam-Tashiding', 'Yoksam', 'Yuksom', 'Tingting', 'Yuksom', '9593377402', None, None, None, 'Urban Area', '100282', '29587', 36.0, 3.0, 6.0, 'Recognized', 'STATE GOVERNMENT', None, 'Class 1', 'Class 5', None), (1248, 'West', 'S0542', 'TSONG GOVERNMENT PRIMARY SCHOOL', 'Yuksom Brc', 'Yuksom Government Secondary School', 'PS', 'State Govt.', 'TSONG', 'Gyalshing', 'Yoksam-Tashiding', 'Yoksam', 'Yuksom', 'Yoksam', 'Yuksom', None, None, None, None, 'Urban Area', None, '28176', 40.0, 7.0, 8.0, 'Recognized', 'State Government', None, 'Class 1', 'Class 5', 'C.B.S.E.'))
2021-01-27 22:14:03,215 INFO sqlalchemy.engine.base.Engine COMMIT
2021-01-27 22:14:03,244 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("school_facility_details")
2021-01-27 22:14:03,246 INFO sqlalchemy.engine.base.Engine ()
2021-01-27 22:14:03,251 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("school_facility_details")
2021-01-27 22:14:03,252 INFO sqlalchemy.engine.base.Engine ()
2021-01-27 22:14:03,257 INFO sqlalchemy.engine.base.Engine
CREATE TABLE school_facility_details (
	"index" BIGINT,
	"EstablishmentCode" TEXT,
	"EstablishmentName" TEXT,
	"IsLibraryAvailable" TEXT,
	"AvailableBooksCount" BIGINT,
	"IsFireExtgAvailable" TEXT,
	"ExtinguisherCount" BIGINT,
	"HOIRoomAvailable" TEXT,
	"IsStaffRoomAvailable" TEXT,
	"NoofStaffRoom" BIGINT,
	"IsLockerForStaffAvailable" TEXT,
	"IsSportsStoreRoomAvailable" TEXT
)


2021-01-27 22:14:03,258 INFO sqlalchemy.engine.base.Engine ()
2021-01-27 22:14:03,276 INFO sqlalchemy.engine.base.Engine COMMIT
2021-01-27 22:14:03,278 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_school_facility_details_index ON school_facility_details ("index")
2021-01-27 22:14:03,280 INFO sqlalchemy.engine.base.Engine ()
2021-01-27 22:14:03,302 INFO sqlalchemy.engine.base.Engine COMMIT
2021-01-27 22:14:03,309 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-01-27 22:14:03,332 INFO sqlalchemy.engine.base.Engine INSERT INTO school_facility_details ("index", "EstablishmentCode", "EstablishmentName", "IsLibraryAvailable", "AvailableBooksCount", "IsFireExtgAvailable", "ExtinguisherCount", "HOIRoomAvailable", "IsStaffRoomAvailable", "NoofStaffRoom", "IsLockerForStaffAvailable", "IsSportsStoreRoomAvailable") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-01-27 22:14:03,335 INFO sqlalchemy.engine.base.Engine ((0, 'S1034', '(I.E.C) INDIAN EVANGALISTIC CRUSADE MISSION PRIMARY SCHOOL, RIMBI', 'Not Available', 0, 'Available', 1, 'Available', 'Not Available', 0, 'Not Available', 'Not Available'), (1, 'S0516', '10TH MILE GOVERNMENT PRIMARY SCHOOL', 'Not Available', 0, 'Not Available', 0, 'Available', 'Available', 1, 'Not Available', 'Not Available'), (2, 'S0237', '4TH MILE GOVERNMENT JUNIOR HIGH SCHOOL', 'Not Available', 0, 'Available', 2, 'Not Available', 'Not Available', 0, 'Not Available', 'Not Available'), (3, 'S0692', 'AAPGAZI GOVERNMENT PRIMARY SCHOOL', 'Not Available', 0, 'Not Available', 0, 'Not Available', 'Not Available', 0, 'Not Available', 'Not Available'), (4, 'S0374', 'AARUBOTEY GOVERNMENT PRIMARY SCHOOL', 'Not Available', 0, 'Available', 2, 'Not Available', 'Not Available', 0, 'Not Available', 'Not Available'), (5, 'S0218', 'ADAMPOOL GOVERNMENT JUNIOR HIGH SCHOOL', 'Available', 217, 'Available', 5, 'Available', 'Available', 1, 'Available', 'Not Available'), (6, 'S1064', 'ADONAI HOMES , NAYA BAZAR', 'Available', 0, 'Available', 0, 'Not Available', 'Available', 2, 'Not Available', 'Available'), (7, 'C1348', 'ADVANCED TECHNICAL TRAINING CENTRE', 'Available', 0, 'Available', 0, 'Available', 'Available', 0, 'Available', 'Available')  ... displaying 10 of 1256 total bound parameter sets ...  (1254, 'S0185', 'ZITLANG GOVERNMENT JUNIOR HIGH SCHOOL', 'Available', 0, 'Available', 5, 'Not Available', 'Available', 1, 'Not Available', 'Not Available'), (1255, 'S0267', 'ZOOM GOVERNMENT SECONDARY SCHOOL', 'Not Available', 0, 'Available', 6, 'Available', 'Available', 1, 'Available', 'Not Available'))
2021-01-27 22:14:03,347 INFO sqlalchemy.engine.base.Engine COMMIT

## Aggregates

1. What is the average BACDistance (in Km)? Rename the ouptut column to "avg_bac_distance."

In [ ]:
# Write your SQL query in this string
sql = """
SELECT AVG("BACDistance (in Km)") AS avg_bac_distance
FROM school_details
"""

# Read the sql query into pandas to view the results
df = pd.read_sql_query(sql, engine)
df.head()

2021-01-27 22:27:35,824 INFO sqlalchemy.engine.base.OptionEngine
SELECT AVG("BACDistance (in Km)") AS avg_bac_distance
FROM school_details

2021-01-27 22:27:35,826 INFO sqlalchemy.engine.base.OptionEngine ()

   avg_bac_distance
0         12.681822

## GROUP BY

2. What is the average BACDistance (in Km) by School Level? Sort the results from highest average to lowest average.

In [ ]:
# Write your SQL query in this string
sql = """
SELECT SchoolLevel, AVG("BACDistance (in Km)") as avg_bac_distance
FROM school_details
GROUP BY SchoolLevel
ORDER BY avg_bac_distance DESC
"""

# Read the sql query into pandas to view the results
df = pd.read_sql_query(sql, engine)
df.head()

2021-01-27 22:34:15,220 INFO sqlalchemy.engine.base.OptionEngine
SELECT SchoolLevel, AVG("BACDistance (in Km)") as avg_bac_distance
FROM school_details
GROUP BY SchoolLevel
ORDER BY avg_bac_distance DESC

2021-01-27 22:34:15,224 INFO sqlalchemy.engine.base.OptionEngine ()

  SchoolLevel  avg_bac_distance
0         JHS         13.692647
1          PS         12.830787
2          SS         12.630872
3         SSS         10.863095
4         LPS          5.368421

## Having

3. Repeat the previous query, but only display results where the average distance is at least 10 km.

In [ ]:
# Write your SQL query in this string
sql = """
SELECT SchoolLevel, AVG("BACDistance (in Km)") as avg_bac_distance
FROM school_details
GROUP BY SchoolLevel
HAVING avg_bac_distance >= 10
ORDER BY avg_bac_distance DESC
"""

# Read the sql query into pandas to view the results
df = pd.read_sql_query(sql, engine)
df.head()

2021-01-27 22:39:38,080 INFO sqlalchemy.engine.base.OptionEngine
SELECT SchoolLevel, AVG("BACDistance (in Km)") as avg_bac_distance
FROM school_details
GROUP BY SchoolLevel
HAVING avg_bac_distance >= 10
ORDER BY avg_bac_distance DESC

2021-01-27 22:39:38,084 INFO sqlalchemy.engine.base.OptionEngine ()

  SchoolLevel  avg_bac_distance
0         JHS         13.692647
1          PS         12.830787
2          SS         12.630872
3         SSS         10.863095

## Joins

4. Join the two tables togther (school_details and school_facility_details). Start by displaying all of the columns, but limit the resulting rows to just 2.

In [ ]:
# Write your SQL query in this string
sql = """
SELECT *
FROM school_details s
  JOIN school_facility_details f
  ON f.EstablishmentCode = s.EstablishmentCode
LIMIT 2
"""

# Read the sql query into pandas to view the results
df = pd.read_sql_query(sql, engine)
df.head()

2021-01-27 22:43:37,536 INFO sqlalchemy.engine.base.OptionEngine
SELECT *
FROM school_details s
  JOIN school_facility_details f
  ON f.EstablishmentCode = s.EstablishmentCode
LIMIT 2

2021-01-27 22:43:37,539 INFO sqlalchemy.engine.base.OptionEngine ()

   index DistrictName  ... IsLockerForStaffAvailable IsSportsStoreRoomAvailable
0      0         East  ...             Not Available              Not Available
1      1         East  ...             Not Available                  Available

[2 rows x 43 columns]

5. Now, select just the schools where the SchoolLevel is "PS" that do not have libraries.

In [ ]:
# Write your SQL query in this string
sql = """
SELECT s.EstablishmentName, s.SchoolLevel, f.IsLibraryAvailable
FROM school_details s
  JOIN school_facility_details f
  ON f.EstablishmentCode = s.EstablishmentCode
WHERE s.SchoolLevel = 'PS' AND f.IsLibraryAvailable = 'Not Available'
"""

# Read the sql query into pandas to view the results
df = pd.read_sql_query(sql, engine)
df.head()

2021-01-27 22:49:29,385 INFO sqlalchemy.engine.base.OptionEngine
SELECT s.EstablishmentName, s.SchoolLevel, f.IsLibraryAvailable
FROM school_details s
  JOIN school_facility_details f
  ON f.EstablishmentCode = s.EstablishmentCode
WHERE s.SchoolLevel = 'PS' AND f.IsLibraryAvailable = 'Not Available'

2021-01-27 22:49:29,387 INFO sqlalchemy.engine.base.OptionEngine ()

                        EstablishmentName SchoolLevel IsLibraryAvailable
0        EASWARAMMA SAI GURUKOOL ACCADEMY          PS      Not Available
1     NEW GARDEN BOARDING SCHOOL (SAJONG)          PS      Not Available
2     SARASWATI SHISHU VIDHYALAYA, BUDANG          PS      Not Available
3        SAWNEY GOVERNMENT PRIMARY SCHOOL          PS      Not Available
4  UPPER PACHAK GOVERNMENT PRIMARY SCHOOL          PS      Not Available

6. Build off the previous query, but order the results alphabetically by name.

In [ ]:
# Write your SQL query in this string
sql = """
SELECT s.EstablishmentName, s.SchoolLevel, f.IsLibraryAvailable
FROM school_details s
  JOIN school_facility_details f
  ON f.EstablishmentCode = s.EstablishmentCode
WHERE s.SchoolLevel = 'PS' AND f.IsLibraryAvailable = 'Not Available'
ORDER BY s.EstablishmentName
"""

# Read the sql query into pandas to view the results
df = pd.read_sql_query(sql, engine)
df.head()

2021-01-27 22:52:13,508 INFO sqlalchemy.engine.base.OptionEngine
SELECT s.EstablishmentName, s.SchoolLevel, f.IsLibraryAvailable
FROM school_details s
  JOIN school_facility_details f
  ON f.EstablishmentCode = s.EstablishmentCode
WHERE s.SchoolLevel = 'PS' AND f.IsLibraryAvailable = 'Not Available'
ORDER BY s.EstablishmentName

2021-01-27 22:52:13,510 INFO sqlalchemy.engine.base.OptionEngine ()

                                   EstablishmentName  ... IsLibraryAvailable
0  (I.E.C) INDIAN EVANGALISTIC CRUSADE MISSION PR...  ...      Not Available
1                10TH MILE GOVERNMENT PRIMARY SCHOOL  ...      Not Available
2                  AAPGAZI GOVERNMENT PRIMARY SCHOOL  ...      Not Available
3                AARUBOTEY GOVERNMENT PRIMARY SCHOOL  ...      Not Available
4              AHO-YANGTAM GOVERNMENT PRIMARY SCHOOL  ...      Not Available

[5 rows x 3 columns]

In [ ]:
# Close the database connection
conn.close()